#clock-container{
    /*display: flex;
    justify-content: center;*/
    position: relative;
    margin: auto;
    height: 40vw;
    width:40vw;
    background: url(clock.jpeg) no-repeat;
    background-size: 100%;
    
}
#hr, #min, #sec{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hr{
    height: 22%;
    width: 1.59%;
    top: 28%;
    left: 49.8%;
    opacity: 1;
    

}

#min{
    height: 35%;
    width: 1%;
    top: 15%;
    left: 49.9%;
    opacity: 1;

    /* display: none; */    
}

#sec{
    height: 25%;
    width: 0.55%;
    top: 25%;
    left: 49.99%;
    opacity: 0.7;
    /* display: none; */  
}